@import url('layout/content.css');
@import url('layout/headert.css');
@import url('layout/navbar.css');
@import url('common/button.css');
@import url('common/icon.css');
@import url('common/input.css');
@import url('dialog/dialog.css');
@import url('common/table.css');

body {
    margin: 0;
    font-family: GoogleSans-Regular;
    font-size: 13px;
}



@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('/content/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('/content/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url('/content/font/GoogleSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../../content/font/GoogleSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../../content/font/GoogleSans-Black.otf') format('opentype');
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    z-index: 1231232123421
}

::-webkit-scrollbar-track {
    width: 6px;
    background-color: #bbb;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 8px
}
