tbody tr td:nth-child(1) {
    min-width: 120px;
    max-width: 140px;
}

tbody tr td:nth-child(2) {
    min-width: 150px;
    max-width: 170px;
}

tbody tr td:nth-child(3) {
    min-width: 100px;
    max-width: 120px;
}

tbody tr td:nth-child(4) {
    min-width: 100px;
    max-width: 120px;
}

tbody tr td:nth-child(5) {
    min-width: 180px;
    max-width: 200px;
}

/* dialog*/
/* dialog content*/
.dialog-content {
    padding: 24px 24px 0 24px;
}
    .dialog-content .dialog-short-info {
        margin-bottom: 16px;
    }

    .dialog-content .dialog-short-info {
        display: flex;
    }

    .dialog-content .dialog-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: 8px;
        border: 1px solid var(--border-color);
        background-image: url('../../content/img/default-avatar.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .dialog-content .dialog-img-detail {
        margin: 0;
        text-align: center;
    }

.dialog-flex-item {
    display: flex;
    margin-bottom: 16px;
}
.dialog-gender {
    display: flex;
    align-items: center;
}
/* dialog content input field*/
.input-field {
    flex-basis: 50%;
}

.dialog-short-field {
    width: 200px;
    margin-left: 16px;
}

.dialog-long-field {
    flex: 1;
}

.dialog-input {
    width: 100%;
}
/*dialog footer*/

.dialog-footer {
    height: 60px;
    background-color: var(--secondary-hover-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px;
}
#btn-save {
    margin-left: 16px;
}
#btn-cancel {
    border: none;
    background: var(--secondary-hover-color);
}

/* table heading icon sorting*/

th span {
    position: relative;
}
    th span.sorting:hover:before {
        border-color: var(--grey-color);
        border-style: solid;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
    }
    th span.sorting:hover:after {
        border-color: var(--grey-color);
        border-style: solid;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    th span.sorting:before, th span.sorting-asc:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        top: 0;
        border-width: 4px;
        right: -13px;
        position: absolute;
        border-color: var(--border-color);
        border-style: solid;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
    }
    th span.sorting-asc:before {
        border-color: var(--grey-color);
        border-style: solid;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
    }
        th span.sorting::after, th span.sorting-desc:after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            top: 9px;
            border-width: 4px;
            right: -13px;
            position: absolute;
            border-color: var(--border-color);
            border-style: solid;
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    th span.sorting-desc:after {
        border-color: var(--grey-color);
        border-style: solid;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }