/* btn primary no icon*/
.m-btn {
    height: 40px;
    padding: 0 24px;
    background-color: var(--default-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

    .m-btn:hover {
        background-color: var(--hover-color);
        transition: all ease 0.5s;
    }
/* btn primary with icon*/
.m-btn-icon {
    height: 40px;
    padding: 0 16px;
    background-color: var(--default-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

    .m-btn-icon:hover {
        background-color: var(--hover-color);
        transition: all ease 0.5s;
    }
/* btn secondary*/
.m-btn-secondary {
    padding: 0 24px;
    height: 40px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

    .m-btn-secondary:hover {
        border: 1px solid var(--secondary-hover-color);
        background-color: var(--secondary-hover-color);
        transition: all ease 0.5s;
    }
