/* table container */
.table {
    height: calc(100vh - 238px);
    width: 100%;
    overflow: auto;
    margin-top: 10px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
    /*table content*/
    .table table {
        height: 100%;
        cursor: pointer;
    }

        

        .table table th, td {
            border-bottom: 1px solid var(--border-color);
            height: 48px;
            padding: 0 16px;
        }
        .table table th {
            position: sticky;
            top: 0;
            background: #fff;
            border-bottom: 2px solid var(--border-color);
            text-align: left;
        }

        .table table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            .table tbody tr:nth-of-type(even) {
                background-color: var(--table-cell-color);
            }
            .table tbody tr:hover {
                background-color: var(--table-cell-hover-color);
            }
/*scroll bar styling when content overflow*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    cursor: pointer;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
