.btn-pagenumber {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #e9ebee;
    cursor: pointer !important;
}

    .btn-pagenumber:hover {
        background-color: #ffffff;
    }

    .btn-pagenumber.btn-pagenumber-selected, .btn-pagenumber-selected:hover {
        background-color: #019160;
        color: #ffffff;
    }

.btn-select-page {
    opacity: .7;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.00);
}

    .btn-select-page:hover {
        opacity: 1;
        background-color: #ffffff;
        border: 1px solid #ccc;
    }

.m-btn-firstpage {
    background-image: url('/content/icon/btn-firstpage.svg');
}

.m-btn-prev-page {
    background-image: url('/content/icon/btn-prev-page.svg');
}

.m-btn-next-page {
    background-image: url('/content/icon/btn-next-page.svg');
}

.m-btn-lastpage {
    background-image: url('/content/icon/btn-lastpage.svg');
}
