.panel-right .header {
    height:60px;
    display:flex;
    border-bottom:1px solid black;
}

.dropdown1 {
    height: 60px;
    text-align: center;
}

select {
    border: none;
    font-size: 16px;
    margin: 20px 0px 10px 30px;
    font-weight:bold;
}

.account {
    position:absolute;
    display: flex;
    height: 60px;
    right:20px;
    padding-top:12px;
}

    .account .avatar1 {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        background-image: url('../../content/icon/avatar-default.png');
        background-size: contain;
        margin-right:10px;
    }

.account .name {
    margin-top:5px;
    margin-right:10px;
}
.account .option1 {
        margin-top: 5px;
} 
