.grid {
    width: 100%;  
}
table th,td{
    border-bottom: 1px solid #bbbbbb; 
    padding-left: 16px;
    padding-right: 16px;
    padding: 24px 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
