.icon-add {
    width: 16px;
    height:16px;    
    background-image: url('/content/icon/add.png');
    padding-right:12px;
    background-repeat: no-repeat;

}
.icon-search {
    height: 20px;
    background-image: url('/content/icon/search.png');
    background-repeat: no-repeat;
    background-position:16px center;   
    
}
.icon-refresh {
    position:absolute;
    background-size:contain;
    background-image: url('/content/icon/refresh.png');
}