body
{
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../../content/font/GoogleSans-Italic.otf') format('opentype');
}