.icon-add {
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/add.png');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-refresh {
    background-image: url('../../content/icon/refresh.png');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-search {
    background-image: url('../../content/icon/search.png');
    background-position: 16px center;
    background-repeat: no-repeat;
}

.icon-save {
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/document-online.png');
    background-position: center;
    background-repeat: no-repeat;
}