.content {
    /*position: absolute;
    top: 76px;
    left: 216px;
    width: calc(100vh - 216px);
    height: calc(100vh - 76px);
    bottom: 0;
    right: 0;
    background-color: #ffffff;*/
    position: absolute;
    top: 61px;
    left: 200px;
    width: calc(100% - 236px);
    background-color: #ffffff;
    padding: 16px 16px 0 16px;
}
/*Page Title*/
    .content .header-content {
        padding: 8px 0 16px 0;
        background-color: #ffffff;
        display: flex;
        align-items: center;
    }
    .content .header-content .title {
        font-size: 20px;
        font-weight: bold;
    }
    .content .header-content .page-feature{
        position: absolute;
        right: 16px;
    }
       
        /*Filter-bar*/
        .content .filter-bar {
            display: flex;            
            background-color:#ffffff;
        }
            .content .filter-bar .filter-left{               
                padding-left:0px;
            }
            .content .filter-bar .filter-right {
                position: absolute;
                right: 16px;
            }
            /*Grid- View*/
            .content .grid {

            }
/*toolbar*/
    .content .toolbar-paging {
      
    }

    .content .toolbar {
        position: relative;
        border-top: 1px solid #bbbbbb;
        align-items: center;
        display: flex;
        height: 56px;
        background-color: #ffffff;
        padding: 0 16px;
    }
    .content .toolbar .toolbar-left{
        left: 16px;
    }
        .content .toolbar .toolbar-right {
            position: absolute;
            padding: 12px;
            right: 16px;
        }
        .content .toolbar .toolbar-center {  
            
            display:flex;
            align-items: center;
            position: absolute;           
            padding-left: 45%;            
            justify-content: space-around;
        }
            .content .toolbar .toolbar-center .btn1 {
                padding: 5px;
            }
            .content .toolbar .toolbar-center .btn2 {
                padding: 5px;
            }
            .content .toolbar .toolbar-center .btn3 {
                padding: 5px;
            }
            .content .toolbar .toolbar-center .btn4 {
                padding: 5px;
            }

        
      