.header {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 221px);
    height: 60px;
    border-bottom: 1px solid #bbbbbb;
    margin: 0px;
    font-family: GoogleSans-Bold;
    font-size: 13px;
}
    .header .header-left {
        position:absolute;
        height: 100%;
        display: flex;

    }

  

.logo .icon-left {
    width: 40px;
    height: 100%;
    background-image: url('/Style/content/images/icon-left-header.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

.logo .icon-right {
    height: 100%;
    width: 120px;
    background-image: url('/Style/content/images/logo-text.png');
    background-repeat: no-repeat;
    background-position: 0 12px;
}

.header .header-left .branch-select {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header .header-right {
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
}

    .header .header-right .account-menu {
        height: 100%;
        display: flex;

    }

.account-menu .account-menu-icon-right {
    height: 100%;
    width: 40px;
    background-image: url('/content/icon/option.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    
}

.account-menu .account-menu-name {
    color: #000000;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    
}



.header .notify-box {
    position: relative;
    width: 40px;
    height: 40px;
    align-self: center;
}

.account-menu .account-menu-icon-left {
    border-radius: 50%;
    border: 10px solid white;
    height: 30px;
    width: 30px;
    margin: auto;
    margin-right: 5px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/content/icon/avatar-default.png');
    background-size: contain;
    
}
.header select {
    height: 30px;
    width: 200px;
    color: black;
    background-color: #ffffff;
    align-items: center;
    border: none;
    padding-left: 10px;
    padding-right: 20px;
    margin: 0px;
    font-family: GoogleSans-Bold;
    font-size: 15px;
}
