<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="CSS/main.css" rel="stylesheet" />
    <link href="CSS/page/customer.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <div class="logo">
            <div class="icon-bar"></div>
            <div class="logo-page"></div>
        </div>
        <div class="menu__content">
            <div class="menu__item">
                <div class="menu__icon icon__home"></div>
                <div class="menu__text">Tổng quan</div>
            </div>

            <div class="menu__item">
                <div class="menu__icon icon__report"></div>
                <div class="menu__text">Báo cáo</div>
            </div>

            <div class="menu__item">
                <div class="menu__icon icon__customer"></div>
                <div class="menu__text">Danh mục khách hàng</div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header__title">
            <div class="title__text">Nhà Hàng Biển Đông</div>
            <div class="title__icon"></div>
        </div>
        <div class="header__profile">
            <div class="profile__avatar"></div>
            <div class="profile__name">Nguyễn Danh Lưu</div>
            <div class="profile__option"></div>
        </div>
    </div>
    <div class="content">
        <div class="content__title">
            <div class="title__text">Danh sách khách hàng</div>
            <button class="title__add">
                <div class="add__icon"></div>
                <div class="add__text">Thêm khách hàng</div>
                
            </button>
        </div>
        <div class="content__search">
            <div class="search">
                <input class="input__search" type="text" placeholder="Tìm kiếm theo mã, tên khác">
            </div>
            <div class="content__refresh"></div>
        </div>
        <div class="content__table" >
            <table id="myTable">
                <thead>
                    <tr>
                        <th>
                            Mã Khách Hàng
                        </th>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Giới Tính
                        </th>
                        <th>
                            Ngày Sinh
                        </th>
                        <th>
                            Nhóm khách hàng
                        </th>
                        <th>
                            Điện thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456</td>
                        <td>Nguyen Van A</td>
                        <td>Nam</td>
                        <td>1/1/19999</td>
                        <td>VIP</td>
                        <td>0912345678</td>
                        <td>ndl@gmail.com</td>
                        <td>Ha Noi</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>Nguyen Van A</td>
                        <td>Nam</td>
                        <td>1/1/19999</td>
                        <td>VIP</td>
                        <td>0912345678</td>
                        <td>ndl@gmail.com</td>
                        <td>Ha Noi</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>Nguyen Van A</td>
                        <td>Nam</td>
                        <td>1/1/19999</td>
                        <td>VIP</td>
                        <td>0912345678</td>
                        <td>ndl@gmail.com</td>
                        <td>Ha Noi</td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>Nguyen Van A</td>
                        <td>Nam</td>
                        <td>1/1/19999</td>
                        <td>VIP</td>
                        <td>0912345678</td>
                        <td>ndl@gmail.com</td>
                        <td>Ha Noi</td>
                    </tr>
                    <tr>
                        <td>12345678</td>
                        <td>Nguyen Van A</td>
                        <td>Nam</td>
                        <td>1/1/19999</td>
                        <td>VIP</td>
                        <td>0912345678</td>
                        <td>ndl@gmail.com</td>
                        <td>Ha Noi</td>
                    </tr>
                </tbody>
                
                
            </table>
        </div>

    </div>
    <script src="lib/jquery-3.5.1.min.js"></script>
    <script src="JS/page/customer.js"></script>
</body>
</html>