
.icon-option-default-16 {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/option.png');
    background-position: center;
    background-repeat: no-repeat;
}


.icon-add {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/add.png');
}

.icon-search {
    background-image: url('/content/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}