.content {
    position: absolute;
    top: 60px;
    left: 200px;
    bottom: 0;
    right: 0;
   
}
/*.content TOP*/
.content .top .title{
    padding:16px;
    font-weight:bold;
    font-size: 20px;
}

.content .top .add-user{
    position:absolute;
    top:12px;
    right:16px;
    align-items: center;
}

.content .top .add-user {
    height: 40px;
    background: #019160;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    border: none;
    font-family: GoogleSans-Regular;
}
.content .top .add-user:hover {
    background: #2FBE8E;
}
.content .top .add-user .icon-add {
    margin:0 8px 0 16px;
    width: 15px; height:15px;
    background-image: url('../../content/icon/add.png');
    background-size:contain;
    background-position:center;
    

}
.content .top .add-user .text{
    margin-right:16px;
}
.content .center{ margin-left: 16px;}

