.header {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc( 100% - 200px );
    height: 60px;
    border-bottom: 1px solid #BBBBBB;
}
.header .left{position:absolute; margin-left:16px; margin-top:5px;}
.header .left select {
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.header .right {
    position: absolute;
    right: 16px;
    display: flex;
    margin: 12px 0;
}

.header .left option{
    font-weight: bold;
}

.header .right .account-avatar {
    width:24px; height:24px;
    background-image: url('../../content/icon/avatar-default.png');
    background-size: contain;
    background-repeat:no-repeat;
}
.header .right .account-name{
    margin: 5px 16px;
}

.header .right .account-option {
    width: 20px; height:20px;
    cursor: pointer;
    background-image: url('../../content/icon/option.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3px 0;
}
