.dialog {
    border-radius: 2px;
    border: 2px solid;
}

 
    .dialog .form-info {
        background-color: white;
        height: 590px;
        width: 800px;
       
    }
        .dialog .form-info .grid-container .ava img {
            border-radius: 96px;
            width: 166px;
            height: 165px;
            border: 1px solid grey;
        }