.menu {
    width: 200px;
    height: 100vh;
}

    /*Logo*/
    .menu .logo {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .menu .logo .icon-bar {
            width: 30px;
            height: 30px;
            background-image: url('/content/img/toggle.png');
            background-size: contain;
        }

        .menu .logo .logo-page {
            width: 130px;
            height: 30px;
            background-image: url('/content/img/cukcuk-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 10px;
        }

    /*Menu content*/
    .menu .menu__content {
        position: relative;
        width: 100%;
        height: 200px;
        
    }
        .menu .menu__content .menu__item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            padding-left: 24px;
            cursor: pointer;
        }

            .menu .menu__content .menu__item:hover {
                background-color: #e5e5e5;
            }
        .menu .menu__content .menu__icon {
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .menu .menu__content .menu__text {
            margin-left:10px;
        }


.icon__home {
    background-image: url('/content/icon/dashboard.png');
}

.icon__report {
    background-image: url('/content/icon/dic-employee.png');
}