:root {
    --default-color: #019160;
    --hover-color: #2FBE8E;
    --primary-color: #01B075;
    --focus-color: #EBF9F4;
    --secondary-color: #ffffff;
    --secondary-hover-color: #E9EBEE;
    --border-color: #bbbbbb;
    --table-cell-color: #e9ebee61;
    --table-cell-hover-color: #E9EBEE;
}
