:root {
    --default-color: #019160;
    --hover-color: #2FBE8E;
    --primary-color: #01B075;
    --focus-color: #EBF9F4;
    --secondary-color: #ffffff;
    --secondary-hover-color: #E9EBEE;
    --border-color: #bbbbbb;
    --table-cell-color: #e9ebee61;
    --table-cell-hover-color: #E9EBEE;
    --danger-color: #FFCECE;
    --warning-color: #FFE7AF;
    --info-color: #D8EAFF;
    --success-color: #BAFFE7;
    --delete-color: #F65454;
    --paginate-height: 56px;
    --header-height: 48px;
    --grey-color: #454545;
}
