.content .content__table{
    margin-top: 10px;
    margin-left: 20px;
    width:1190px; 
    height:calc(100vh - 300px); 
    overflow:auto;
}

/* scrollbar table */
.content__table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  .content__table::-webkit-scrollbar-track {
      
    background: #f1f1f1; 
  }
   
  /* Handle */
  .content__table::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .content__table::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }