.content {
    position: absolute;
    top: 60px;
    left: 200px;
    width: calc(100% - 200px);
    bottom: 0;
    right: 0;
}
    .content .content__title {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
    }
        .content .content__title .text {
            margin-left: 16px;
            font-size: 20px;
            font-family: GoogleSans-Bold;
            color: #000000;
            height: 35px;
            width: 220px;
            margin-top: 26px;
        }

    .btn .btn_add_icon {
        background-image: url('../../content/icon/add.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 2px;
        margin-left: -10px;
    }

.btn__add__customer {
    margin-top: 10px;
    width: 175px;
    margin-right: 16px;
}

.btn__add__customer p {
    margin-right: -10px;
}

#dialog-customer {
}

    #dialog-customer .dialog-inform1 {
        max-width: 600px;
        width: 500px;
        height: 210px;
        /*margin-left: 20px;*/
    }

    #dialog-customer .dialog-inform1 .dialog-avatar {
        margin-top: 15px;
        height: 210px;
        width: 180px;
    }

        #dialog-customer .dialog-inform1 .dialog-avatar .avatar_dialog {
            /*margin-left: 15px;*/
            height: 150px;
            width: 150px;
            background-image: url('../../content/img/default-avatar.jpg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: 0px;
            border: 1px solid #BBBBBB;
            border-radius: 50%;
            outline: none;
        }

        #dialog-customer .dialog-inform1 .dialog-avatar p {
            /*margin-left: 13px;*/
     /*       font-size: 10px;
            text-align: center;*/
        }

    #dialog-customer .dialog-inform1 .dialog-line1 {
        
        /*margin-left: 10px;*/
        max-width: calc(100% - 180px);
        position: absolute;
        top: 0px;
        left: 180px;
        height: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

        #dialog-customer .dialog-inform1 .dialog-line1 input[type=text] {
            margin-top: -30px;
            width: 200px;
            height: 30px;
            border: 1px solid #BBBBBB;
            border-radius: 5px;
            margin-right: 10px;
        }

        .name-customer {
            margin-right: 30px;
        }


#dialog-customer .dialog-inform1 .dialog-line2 {
    /*    margin-left: 10px;*/
    
    position: absolute;
    top: 70px;
    left: 180px;
    height: 70px;
    display: flex;
    align-items: center;
    width: calc(100% - 180px);
    flex-direction: row;
    justify-content: flex-start;
}
    #dialog-customer .dialog-inform1 .dialog-line2 input[type=text] {
        margin-top: -30px;
        width: 200px;
        height: 30px;
        border: 1px solid #BBBBBB;
        border-radius: 5px;
        margin-right: 10px;
    }

.GroupPeople-customer select {
    margin-top: -10px;
    width: 207px;
    height: 35px;
    line-height: 20px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-right: 30px;
}

#dialog-customer .dialog-inform1 .dialog-line3 {
    /*margin-left: 10px;*/
    
    position: absolute;
    width: calc(100% - 180px);
    top: 140px;
    left: 180px;
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

    #dialog-customer .dialog-inform1 .dialog-line3 input[type=date] {
        height: 35px;
        width: 184px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -10px;
        line-height: 20px;
        border: 1px solid #BBBBBB;
        border-radius: 5px;
        margin-right: 30px;
    }

        #dialog-customer .dialog-inform1 .dialog-line3 .Gender-customer {
           margin-left: -20px;
        }
    #dialog-customer .dialog-inform1 .dialog-line3 form {
        margin-top: -10px;
        align-items: center;
        text-align: center;
    }
    #dialog-customer .dialog-inform1 .dialog-line3 input[type=radio] {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

#dialog-customer .dialog-inform1 .dialog-line3 label {
    font-size: 15px;
    vertical-align: middle;
}

    #dialog-customer .dialog-inform2 {
        height: 230px;
    }

        #dialog-customer .dialog-inform2 .dialog-line4 {
            height: 70px;
            display: flex;
            align-items: center;
            width: 100%;
            /*background-color: yellow;*/
        }

.email-customer input[type=text] {
    margin-top: -10px;
    width: 380px;
    height: 30px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-right: 10px;
}

.phoneNumber-customer input[type=text] {
    margin-top: -10px;
    width: 200px;
    height: 30px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-right: 10px;
}

#dialog-customer .dialog-inform2 .dialog-line5 {
    top: 70px;
    height: 70px;
    width: 100%;
    display: flex;
}

.company-customer input[type=text] {
    margin-top: -10px;
    width: 380px;
    height: 30px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-right: 10px;
}

.taxNumber-customer input[type=text] {
    margin-top: -10px;
    width: 200px;
    height: 30px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-right: 10px;
}

    #dialog-customer .dialog-inform2 .dialog-line6 {
        top: 140px;
        height: 70px;
        width: 100%;
    }

.address-customer input[type=text] {
    width: 595px;
    height: 30px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-right: 10px;
}


#dialog .avatar_dialog {
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.content .content__function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.content .content__function .search__customer {
    margin-left: 16px;
    width: 200px;
    height: 40px;
}

    .content .content__function .search__customer .search {
        position: absolute;
        padding-left: 30px;
        color: #bbbbbb;
        font-size: 12px;
    }

    .content .content__function .search__customer .search:focus {
        border: none;
        position: absolute;
        padding-left: 30px;
        color: #000000;
    }

        .content .content__function .search__customer .search:focus::-webkit-input-placeholder {
            opacity: 0;
        }

    .content .content__function .search__customer .icon-search {
        position: relative;
        left: 7px;
        top: 12px;
        height: 20px;
        width: 20px;
        background-image: url('../../content/icon/search.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .content .content__function .refresh__customer {
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }


.content .content__table {
    position: relative;
    overflow: auto;
    margin-left: 16px;
    height: calc(100% - 180px);
}

table {
    width: 100%;
    text-align: left;
    border: 0;
    border-collapse: collapse;
}

    table th, td {
        border-bottom: 2px solid #E5E5E5;
        padding-left: 16px;
        padding-right: 16px;
        padding: 10px 16px;
        white-space: nowrap;
    }


    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

   

.content_table table th {
    position: sticky;
    top: 0;
}

.content_table table th:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content .page__navigation {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.content .page__navigation .page_number {
    display: inline-block;
    font-size: 25px;
}

.page_number a {
    font-size: 18px;
    font-family: GoogleSans-regular;
    color: black;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    color: #019160;
}

.page_number .navg {
    font-size: 25px;
    height: 30px;
    font-family: GoogleSans-Bold;
}
.page_number .number {
    border: 0px solid black;
    border-radius: 50%;
    background-color: #E5E5E5;
    color: #019160;
    width: 2.0em;
    height: 2.0em;
    line-height: 2.0em;
}

    .page_number .number:focus {
        background-color: #019160;
        color: #EBF9F4;
    }

 .content .page__navigation .text_navigation {
     margin-left: -50px;
 }

.content .page__navigation .text2_navigation {
    margin-right: -40px;
}