@import url('component/button.css');
@import url('component/combobox.css');
@import url('component/input.css');
@import url('component/table.css');
@import url('layout/content.css');
@import url('layout/header.css');
@import url('layout/menu.css');

body {
    margin: 0px;
    font-family: GoogleSans-Regular;
    font-size: 13px;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}