.content {
    width: calc(100% - 200px);
    height: calc(100vh - 62px);
    margin-left: 200px;
    background-color: #ffffff;
}

    .content .content__header {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .content .space-center {
        flex-grow: 1;
    }

    .content .content__header .content-title {
        font-size: 25px;
        font-weight: bold;
        cursor: default;
        margin: 16px;
    }

    .content .content__header .btn--add-customer {
        height: 38px;
        border: none;
        outline: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-right: 16px;
        background-color: #019160;
        cursor: pointer;
    }
        .content .content__header .btn--add-customer:hover{
            background-color: #2FBE8E;
        }
        .content .content__header .btn--add-customer .btn--add-customer__icon {
            width: 16px;
            height: 16px;
            margin-left: 16px;
            margin-right: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('/content/icon/add.png');
        }

        .content .content__header .btn--add-customer .btn--add-customer__text {
            font: 13px;
            color: #ffffff;
            margin-right: 16px;
        }

    .content .content__filter {
        height: 36px;
        align-items: center;
        display: flex;
    }

        .content .content__filter .search-box {
            height: 36px;
            display: flex;
            align-items: center;
            border: 2px solid #BBBBBB;
            border-radius: 4px;
            margin-left: 16px;
        }

            .content .content__filter .search-box .search-box__icon {
                width: 16px;
                height: 16px;
                margin: 0px 8px 0px 16px;
                background-image: url('/content/icon/search.png');
                cursor: pointer;
            }

            .content .content__filter .search-box .search-box__text {
                border: none;
                outline: none;
                background: none;
            }

        .content .content__filter .space-center {
            flex-grow: 1;
        }

        .content .content__filter .btn--refesh {
            width: 36px;
            height: 36px;
            border: 2px solid #BBBBBB;
            border-radius: 4px;
            margin-right: 16px;
            cursor: pointer;
        }
            .content .content__filter .btn--refesh:hover{
                background-color: #E5E5E5;
            }
            .content .content__filter .btn--refesh .btn--refesh__img {
                width: 20px;
                height: 20px;
                margin: 8px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../../content/icon/refresh.png');
            }

    .content .content__grid-table {
        width: calc(100% - 32px);
        height: calc(100vh - 248px);
        margin: 16px;
    }

    .content .content-footer {
        width: calc(100% - 32px);
        margin: 16px;
        display: flex;
        align-items: center;
    }

        .content .content-footer .record-info {
            width: 200px;
            font-size: 13px;
            font-weight: bold;
            cursor: default;
        }

        .content .content-footer .record-option {
            width: 200px;
            font-size: 13px;
            font-weight: bold;
            text-align: right;
            cursor: default;
        }

        .content .content-footer .paginate {
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }

            .content .content-footer .paginate .page {
                width: 38px;
                height: 38px;
                outline: none;
                font-weight: bold;
                background: #E9EBEE;
                cursor: pointer;
                margin: 0 8px 0 8px;
                border-radius: 50%;
                border: 1px solid #D2D2D2;
            }

                .content .content-footer .paginate .page:hover {
                    background-color: #019160;
                    color: #ffffff;
                }

            .content .content-footer .paginate .page-control {
                width: 38px;
                height: 38px;
                background: none;
                outline: none;
                border: none;
                cursor: pointer;
            }
                .content .content-footer .paginate .page-control:hover {
                    border: 1px solid #D2D2D2;
                }
                .content .content-footer .paginate .active-page {
                    background-color: #019160;
                    color: #ffffff;
                }

            .content .content-footer .paginate .first-page {
                background-size: contain;
                background-image: url('../../content/icon/btn-firstpage.svg');
            }

            .content .content-footer .paginate .prev-page {
                background-image: url('../../content/icon/btn-prev-page.svg');
                background-size: contain;
            }

            .content .content-footer .paginate .next-page {
                background-image: url('../../content/icon/btn-next-page.svg');
                background-size: contain;
            }

            .content .content-footer .paginate .last-page {
                background-image: url('../../content/icon/btn-lastpage.svg');
                background-size: contain;
            }
