.grid {
    width: 100%;
    overflow: auto;
}

    .grid table {
        width: 100%;
    }

    .grid::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .grid::-webkit-scrollbar-track {
        background: #D2D2D2;
        border-radius: 10px;
    }

    .grid::-webkit-scrollbar-thumb {
        background: #BBBBBB;
        border-radius: 10px;
    }

    .grid table th, td {
        border-bottom: 2px solid #BBBBBB;
        margin: 0 16px 0 16px;
        padding: 10px;
        text-align: left;
        white-space: nowrap;
        max-width: 200px;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
    }
    .grid table td {
        cursor: pointer;
    }